Задача No3. Решение в группах
1. Определить какое максимальное и минимальное значение median_house_value
2. Показать максимальное median_house_value, где median_income = 3.1250
3. Узнать какая максимальная population в зоне минимального значения median_house_value

In [10]:
import pandas as pd

df = pd.read_csv("california_housing_test.csv")
df["median_house_value"].max()

500001.0

In [11]:
df["median_house_value"].min()

22500.0

#### task_2

In [30]:
df[df["median_income"] == 3.1250][["median_house_value", "median_income"]].max()

median_house_value    233300.000
median_income              3.125
dtype: float64

#### task_3

In [64]:
df["median_house_value"].min()

22500.0

In [54]:
df[df["median_house_value"] == 22500][["population", "median_house_value"]]

      population  median_house_value
2001      1230.0             22500.0

#### task_3.2 -> Вариант-2

In [78]:
df[df["median_house_value"] == df["median_house_value"].min()]["population"].max()

1230.0

In [ ]:
ilog